/* Start Variables */
:root {
    --main-color: #ffc002;
    --secondary-color : rgb(10, 6, 3);
    --hover-color: #cea960;
    --main-transition: 0.3s;
    --padding-top: 100px;
    --padding-bottom: 100px;
    --section-background: #ececec;
}
.light {

    --main-color: #ffc002;
    --secondary-color: white;
    --font-color: rgba(15, 116, 143, 60%);
    --section-padding: 100px;
    --color-white: rgb(23, 35, 104);
    --box-hover: transparent;
    --border-white: rgb(0, 0, 0);
    --job-title-color: #155612;
    --work-btn: #660c7c;
    --cv-btn: rgb(182 115 248);
    --Js-word-bg-color: rebeccapurple;
    --portfolio-box-bg: rgba(24, 188, 243, 0.6);

    --portfolio-box-span-bg: rgba(194, 157, 157, 0.5);

}
/* End Variables */
/* ---------- Strat Global Rules ------------ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Chivo Mono', monospace;
}
@media (max-width: 767px){
    body{
        font-size: 80%;
    }
}

ul {
    list-style: none;
}
a{
    text-decoration: none;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*  Samll   */
@media (min-width : 768px) {
    .container {
        width: 750px;
    }
}

/*   Medium   */
@media (min-width : 992px) {
    .container {
        width: 970px;
    }
}

/*   Larg   */
@media (min-width : 1200px) {
    .container {
        width: 1170px;
    }
}

/* ---------- End Global Rules -------------- */
/* start main title */
.main-title{
    position: relative;
    color: white;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    margin: 0px 40px 80px;
    padding: 20px;
    box-shadow: 0 12px 20px 0 rgb(213 148 21 / 13%), 0 2px 4px 0 rgb(239 127 7 / 12%);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    z-index: 2;
}
@media (max-width : 767px){
    .main-title {
        font-size: 20px;
        display: block;
        text-align: left;
        background-color: black;
    }
}
.main-title:hover,
.main-title:focus,
.main-title:active {
    box-shadow: 0 12px 20px 0 rgb(255, 170, 0), 0 2px 4px 0 rgb(255, 132, 0);
}
.main-title::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: rgb(255 132 0);
}

/* ُEnd main title */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 3s;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -ms-transition: all 3s;
    -o-transition: all 3s;
}
@media (prefers-reduced-motion) {
    .hidden {
        transition: none;

    }
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);

}



.toggle {

    position: relative;
}
.toggle .icon {
    width: 25px;
    height: 25px;
    border-radius: 100px;
    position: absolute;
    right: -14%;
    top: 27px;
    transform: translateY(-50%);
    transition: all 0.5s;
    cursor: pointer;
}
@media (max-width:480px) {
    .toggle .icon {
        position: absolute;
        transform: translateY(0);
        margin-bottom: 10px;
        right: 50px;
        top: 25px;
    }
    .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin: 0;
    }
}
.toggle .moon {
    display: none;
}
.toggle.active .sun {
    display: none;
}
.toggle.active .moon {
    display: block;
}
.splide__arrow {
    fill: var(--main-color);
    height: 2.5em;
    transition: fill .2s linear;
    width: 2.5em;
}
/* ---------- Start Header -------------- */
header{
    position: absolute;
    left: 0;
    width: 100%;
    height: 59px;
    z-index: 1;
}
header a{
    color: var(--main-color);
    font-size: 16px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container nav::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: var(--main-color);
    bottom: 1px;
    right: 0;
        
}
header .container nav ul{
    display: flex;
}

header ul li a{
    display: inline-block;
    padding: 20px;
    color: var(--main-color) ;
    font-size: 16px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    
}
header nav ul li a::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--hover-color);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

}
header nav ul li a:hover::before{
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    width: 100%;
    height: 100%;
}
header nav ul li a.active,
header nav ul li a:hover {
    color: black;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid var(--main-color);
    padding: 18px;
}
@media (max-width : 767px) {
    header .container nav ul {
        display: none;
    }
    header .container nav .mobile-show {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 15px;
        font-size: 18px;
    }
    header .container .search {
        display: none;
    }
    .mobile-show:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--hover-color);
        color: white;
    }
    .mobile-show:hover+ul li a {
        color: black;
        font-weight: bold;   
    }
    header ul a {
        padding: 20px !important;
    }
}
@media (min-width : 767px){
    header .container .mobile-show {
        display: none;
    }

}
.header ,.container nav i {
    color: var(--main-color);
    align-items: center;
}

/* ---------- End Header -------------- */
/* ---------- Start Landing -------------- */
.landing{
    min-height: 100vh;
    background-image: url("../img/landing.jpg");
    background-size: cover;
    position: relative;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 90%);
}
.landing .images img {
    width: 400px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
@media (max-width : 991px) {
    .landing .images{
        display: none;
    }
}
.landing .container{
    min-height: calc(100vh - 190px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}
.landing .text{
    flex: 1;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    padding: 40px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
}
.landing .text:hover {
   transform: translateY(-200px);
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   -o-transform: translateY(-200px);
}
@media (max-width : 767px){
    .landing .text{
        left: 0;
    }
    .landing .social{
    }
}
.landing .text .content .hey , .iam{
    font-size: 24px;
    padding: 10px 0;
}
.landing .text .content .iam span {
    font-size: 24px;
    color: var(--main-color);
}
.landing .info{
    font-size: 16px;
}
.landing .info .facebook , .whatsapp , .linkedin , .mail , .number{
    display: flex;
    align-items: center;
}
.landing .info i {
    padding: 10px;
    margin-right: 5px;
}
.landing .social{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    padding: 40px 30px;
    color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing .social i {
    display: block;
    text-align: center;
    margin: 0 20px;
    background-color: var(--secondary-color);
    padding: 10px;
    font-size: 24px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.landing .social i:hover{
    color: var(--main-color);
    font-size: 40px;
}
.landing a{
    color: white;
}
.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.landing .go-down:hover{
    color:#cea960;
}
/* ---------- End Landing -------------- */
/* ---------- Start Eduaction -------------- */
.education{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    background-color: var(--secondary-color);
    color: white;
    overflow-x: hidden;
}
.education .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
}
.education .container .image img {
    max-width: 100%;
}
.education .container .grade-one ,
.education .container .grade-tow ,
.education .container .image {
    padding: 20px;
    box-shadow: 0 12px 20px 0 rgb(213 148 21 / 13%), 0 2px 4px 0 rgb(239 127 7 / 12%);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.education .container .grade-one:hover,
.education .container .grade-tow:hover,
.education .container .image:hover {
    box-shadow: 0 12px 20px 0 rgb(255, 170, 0),            0 2px 4px 0 rgb(255, 132, 0);
    transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
}

.education .container .grade-one i,
.grade-tow i {
    display: block;
    margin: 24px auto;
    text-align: center;
    font-size: 30px;
    color: var(--main-color);
    margin-bottom: 30px;
}
.education .container .grade-one .one-title,
.grade-tow .one-title{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}
.education .container .grade-one .date,
.grade-tow .date {
    font-size: 18px;
    color: var(--main-color);
    margin-bottom: 30px;
    
}
.education .container .grade-one .info,
.grade-tow .info {
    font-size: 14px;
    color: var(--hover-color);
    line-height: 1.6;
}
/* ---------- End Eduaction -------------- */
/* ---------- Start Services -------------- */
.services{
    padding-top: 100px;
    padding-bottom: 250px;
    position: relative;
    background-image: url("../img/services.jpg");
    background-size: cover;
    z-index: 2;
}
.services::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.services .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
    z-index: 2;
}
.services .container .box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    padding: 20px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    box-shadow: 0 2px 15px hwb(25deg 2% 6% / 90%);
    
}
.services .container .box:hover{
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}
.services .container .box:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.services .container .box::before{
        content: "";
        position: absolute;
        left: 130px;
        top: 60px;
        width: 0;
        height: 2px;
        background-color: var(--main-color);
        transition: var(--main-transition) ;
        -webkit-transition: var(--main-transition) ;
        -moz-transition: var(--main-transition) ;
        -ms-transition: var(--main-transition) ;
        -o-transition: var(--main-transition) ;
}
.services .container .box:hover::after{
    height: 100%;
}
.services .container .box:hover::before {
    width: 50%;
}
.services .container .box i{
    font-size: 26px;
    color: var(--main-color);
    margin-right: 30px;
    padding: 20px;
}
.services .container .box .content {
    color: white;
}
.services .container .box .content .title {
    font-size: 18px;
    font-weight: bold;
    color: var(--main-color);
    margin: 0 0 20px;
    padding: 10px;
}
.services .container .box .info {
    color: var(--hover-color);
    line-height: 1.6;
}


/* ---------- End Services -------------- */
/* ---------- Start Skills -------------- */
.my-skills{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    background-color: var(--secondary-color);
    z-index: 2;
}
.my-skills::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.my-skills .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    z-index: 2;
}
.my-skills .container .box{
        padding: 20px;
        background-color: rgb(206 169 96 / 50%);
        margin: 40px 0;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
        transition: all 1s ;
        -webkit-transition: all 1s ;
        -moz-transition: all 1s ;
        -ms-transition: all 1s ;
        -o-transition: all 1s ;
}
.my-skills .container .box h1{
    text-align: center;
    color: black;
    font-weight: bold;
}
.my-skills .skills {
    flex: 1;
}

.my-skills .skill {
    margin-bottom: 20px;
}

.my-skills .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-skills .skill h3 span {
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 4px;
    color: var(--main-color);
    margin: 15px 0;
}

.my-skills .skill .the-progress {
    height: 30px;
    background-color: #eee;
    position: relative;
}

.my-skills .skill .the-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-color);
}
/* ---------- End Skills -------------- */
/* ---------- Start About Me -------------- */
.about{
    padding-top: 100px;
        padding-bottom: 100px;
        position: relative;
        background-image: url("../img/skills.jpg");
        background-size: cover;
        background-color: var(--secondary-color);
        color: white;
}
.about .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.about .container .box img{
    position: relative;
    left: 40px;
    flex-basis: 25%;
    max-width: 100%;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-color: rgb(253 170 8 / 70%);
    border-width: 20px;
    border-style: solid;
}
@media (max-width : 767px){
    .about .container .box img{
        display: none;
        left: 0;
    }
    .about .container .box1{
        padding-left: 20px !important;
    }
        .about .container .box1 .box-info{
            flex-direction: column;
        }
}
.about .container .box1{
    flex: 1;
    background-color: rgb(253 170 8 / 70%);
    color: black;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding-left: 60px;
}
.about .container .box1 .who{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}
.about .container .box1 .me {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 40px;
    line-height: 1.6;
}
.about .container .box1 .box-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 40px;

}
.about .container .box1 .box-info .title{
    text-align: center;
    margin-bottom: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.about .container .box1 .box-info .title2 {
    text-align: center;
        margin-bottom: 20px;
}
/* ---------- End About Me -------------- */
/* Start Works */
.works {
    overflow-x: hidden;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    background-color: var(--secondary-color);
    z-index: 2;
}
.works .splide .splide__slide {
    padding: 10rem;
}
.splide .splide__pagination {
    margin: 80px;
}
.splide .splide__pagination li {
    display: inline-block;
    line-height: 1;
    list-style-type: none;
    margin: 5px;
    pointer-events: auto;
}
.works .splide .splide__slide img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: rgb(241 237 237 / 45%) 0px 0px 10px;
}
.works .g{
    display: block;
    margin: auto;
    text-align: center;
    padding: 20px;
    color: black;
    background-color: var(--main-color);
    width: fit-content;
    font-weight: bold;
    font-size: 20px;
}


/* End Works */
/* ---------- Start Footer -------------- */
.footer {
    background-color: var(--secondary-color);
    padding: 70px 0 0;
}

@media (max-width: 767px) {
    .footer {
        text-align: center;
    }
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.footer .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}

.footer .box .social {
    display: flex;
}

@media (max-width: 767px) {
    .footer .box .social {
        justify-content: center;
    }
}

.footer .box .social li {
    margin-right: 10px;
}

.footer .box .social li a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-decoration: none;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.footer .box .text {
    line-height: 2;
    color: #b9b9b9;
}

.footer .box .links li {
    padding: 15px 0;
    transition: var(--main-transition);
}

.footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}

.footer .box .links li:hover {
    padding-left: 10px;
}

.footer .box .links li:hover a {
    color: white;
}

.footer .box .links li a {
    text-decoration: none;
    color: #b9b9b9;
    transition: var(--main-transition);
}

.footer .box .links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}

.footer .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .footer .box .line {
        flex-direction: column;
    }
}

.footer .box .line i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
}

@media (max-width: 767px) {
    .footer .box .line i {
        margin-right: 0;
        margin-bottom: 15px;
    }
}

.footer .box .line .info {
    line-height: 1.7;
    flex: 1;
}

.footer .box .line .info span {
    display: block;
}

.footer .footer-gallery img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}

.footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}
/* ---------- End Footer -------------- */
/* ---------- Start Eduaction -------------- */
/* works */
.works {
    overflow-x: hidden;

}


.works .splide .splide__slide {
    padding: 10rem;
}


.splide .splide__pagination {
    margin: 80px;
}

.splide .splide__pagination li {
    display: inline-block;
    line-height: 1;
    list-style-type: none;
    margin: 5px;
    pointer-events: auto;
}

.works .splide .splide__slide img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: rgb(241 237 237 / 45%) 0px 0px 10px;
}



@media (max-width: 767px) {
    .works .splide {
        display: none;
    }

}
/* ---------- Start Footer -------------- */
/* ---------- Start  -------------- */
/* ---------- Start Eduaction -------------- */
